@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Aboreto;
  src: url(../../public/assets/fonts/Aboreto.ttf);
}

::selection {
  background-color: beige;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-family: Aboreto;
}

button {
  cursor: pointer;
  font-family: Aboreto;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Aboreto;
}

header,
main,
footer {
  padding: 10px 15px;
}
/*******************************************************/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
/*******************************************************/
#intro {
  background-image: url(../../public/assets/images/pared-b.jpg);
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}
/*******************************************************/
.contentStickyImage {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contentStickyImage:nth-child(odd) {
  flex-direction: row-reverse;
}

.contentStickyImage > div {
  flex: 1 1 calc(992px / 2);
}

.AbouTimg {
  height: 100vh;
  position: sticky;
  top: 0;
}

.AbouTimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AbouTtext {
  padding: 1.25rem;
}

.AbouTimages {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.AbouTimages img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.AbouTtitle {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about {
  margin-bottom: 1rem;
}

.AbouTsub-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .AbouTimg {
    position: static;
  }
}

.img-blog {
  /* width: 100px; */
  height: 280px;
}

/******************************************************/
